/*CAMOLANO (Cesar Heads)
DISEÑO DE SITIOS WEB  / UNAD
FECHA: 14/04/2021 Unidad 1 - Fase 1 - Planeación
FECHA: 01/05/2021 Unidad 1 - Fase 2 - Diseño y Construcción 

DESCRIPCION:  clase ccs para Implementacion estilo interface con usuario 
*/


/*https://www.youtube.com/watch?v=oZa2Ut8u2S0*/

/*DSW-FASE 3 ═════════════════════════════════════════════════════════════════════════════════════════*/
/*ESTILO PARA BIBLIOGRAFIAS*/
audio {
width:350px;
height:50px;

}
.biblio-body {
    padding: 10px;
    font-style: normal;
    font-family: "Times New Roman", Times, serif !important;
    font-size: 12PX;
    background-color: #EFF3F7;
    min-height: 80px;
}
.biblio-body ul li{
     margin-top:15px;
}
.biblio-body ul li span {
    margin-left: 50px
}


.cintas-Heads {
    height: 70px;
    overflow: hidden;
    position: absolute;
    right: -2px;
    top: -2px;
    width: 70px;
    z-index: 10;
}
.cintas-Heads.cintas-lg {
    height: 120px;
    width: 120px;
}
.cintas-Heads.cintas-lg .cintas {
    right: 0;
    top: 26px;
    width: 160px;
}
.cintas-Heads .cintas {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    font-size: 0.8rem;
    line-height: 100%;
    padding: 0.375rem 0;
    position: relative;
    right: -2px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    top: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 90px;
}
.cintas-Heads .cintas::before, .cintas-Heads .cintas::after {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #9e9e9e;
    bottom: -3px;
    content: "";
    position: absolute;
}
.cintas-Heads .cintas::before {
    left: 0;
}
.cintas-Heads .cintas::after {
    right: 0;
}
.position-relative {
    position: relative !important;
}
/*════════════════════════════════════════════════════════════════════════════════════════════════════*/
.video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.video-responsive video,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*====================================================================================================*/

/*Pestañas "Tabs para administración de REcursos 1"*/
[hidden] {
    display: none;
    /* visibility: hidden; opacity: 1; */
}
.tabs {
    width: 100%;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
   
   
}
.tab-control {
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-size: 1.25rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: all 0.25s ease;
}
.tab-control:hover { color: #036191; }
.tab-content {
    border-top: 1px solid #036191;
    padding: 1rem;
}
.tab-panel {     display: none; } 
/* TAB RECURSO 1 */
input[type="radio"]:checked + .tab-control {
    font-weight: 600;
    color: #036191;
    border-bottom-color: #036191;
}
#tab-0:checked ~ .tab-content > #tab-panel-0 {    display: block;}
#tab-1:checked ~ .tab-content > #tab-panel-1 {     display: block; }
#tab-2:checked ~ .tab-content > #tab-panel-2 {     display: block; }
#tab-3:checked ~ .tab-content > #tab-panel-3 {     display: block; }
#tab-4:checked ~ .tab-content > #tab-panel-4 {     display: block; }

/*TAB RECURSO 2*/
#tab-R2-1:checked ~ .tab-content > #tab-panel-R2-1 {    display: block; }
#tab-R2-2:checked ~ .tab-content > #tab-panel-R2-2 {    display: block; }
/********************************************************/


.contentBodyF4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    padding: 20px;
    max-height: 1600px;
}
.contentBodyF3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 200px;
    height: 100%;
    padding: 20px;
    max-height: 1600px;
}
.ContentF3 {
    grid-column: 1/5;
}
.ContentRecF3 {
    grid-column: 1/5;
    max-height: 850px;
    height: 850px;
}


.aside-fanpage {
    grid-column: 5/6;
    background-color: #fff;
    padding: 2px;
}

.LogoUnad {
    float: right !important;
    height: 56px;
}
iframe {
    width: 100%;
    border-style: none;
}
/*Pie de Pagina ══════════════════════════════════════════════════════════════════════════════════════*/
footer {
    position: fixed !important;
    bottom: 0 !important;
    width: 98.8%;
    background-color: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: .5rem;
}

.bg-info {
    background-color: #17a2b8 !important;
}

.bg-info,
.bg-info > a {
    color: #fff !important;
}
/*════════════════════════════════════════════════════════════════════════════════════════════════════*/
/*DSW-FASE 2══════════════════════════════════════════════════════════════════════════════════════════*/
.content-body {
    margin-left: 200px;
    height: 100%;
    padding: 20px;
}

section {
    min-height: 100%;
    clear: both;
    height: inherit;
    width: inherit;
    padding: 10px;
    margin-bottom: 20px;
}

/*Implementación Estilo para la Barra de navegación*/
.navbar-Heads-horiz {
    background-color: #fff;
    color: #1f2d3d;
    border-bottom: 1px solid #dee2e6;
    z-index: 1034;
    margin-left: 200px;
    padding: .5rem .5rem;
    height: 40px !important
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.brand-link {
    display: block;
    font-size: 1.25rem;
    line-height: 1.5;
    height: 30px;
    padding: .8125rem .5rem !important;
    transition: width 0.3s ease-in-out;
    white-space: nowrap;
   
    border-bottom: 1px solid #dee2e6;
}

.brand-link:hover {
    color: #fff;
    text-decoration: none;
}

.logomenu_header {
    margin-left: -15px;
}
.brand-link .brand-image {
    float: left;
    margin-left: 38px;
    max-height: 40px;
    width: auto;
}
.main-sidebar {
    height: 100vh;
    overflow-y: hidden;
    z-index: 1038;
    background-color: #96abbf; /*#053869;*/
    color: aliceblue;
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22) !important;
    bottom: 0;
    float: none;
    left: 0;
    position: fixed;
    top: 0;
    transition: margin-left .3s ease-in-out,width .3s ease-in-out;
}


.main-sidebar, .main-sidebar::before {
    transition: margin-left .3s ease-in-out,width .3s ease-in-out;
    width: 201px;
}

/*═══════════════════════════════════════════════════════════════════════════════════════════════════*/
/*Fondo de Pantalla ═════════════════════════════════════════════════════════════════════════════════*/
body {
    margin: 0 !important;
    background-color: #daf3ff;
    background: url(../../img/Fondo.jpg) top center no-repeat fixed;
    background-size: cover;
}

.contenedor{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

  /*Imagenes ═════════════════════════════════════════════════════════════════════════════════════════*/
.img-circle {  border-radius: 50%;  }
.img-rounded { border-radius: 6px;  }  
.img-perfil {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;  }
.img-thumbnail {
    display: inline-block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.img-sm {
    width: 30px !important;
    height: 30px !important;
}
.img-md {
    width:60px !important;
    height: 60px !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

/*═══════════════════════════════════════════════════════════════════════════════════════════════════*/
/* Personalización de Texto ════════════════════════════════════════════════════════════════════════*/
.text_primary{ color: rgb(1, 37, 85);  }
.text-muted { color: #999999   !important;}
.text-white {    color: #fff   !important;}
.text-warning { color: #c09853 !important;}
.text-danger { color: #b94a48  !important;}
.text-success { color: #468847 !important;}
.text-info { color: #3a87ad    !important;}
.text-left { text-align: left  !important;}
.text-right { text-align: right   !important;}
.text-center { text-align: center;  }
.text-monospace {
    font-style: italic;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}
.text-justify { text-align: justify !important; }
.text-wrap { white-space: normal !important; }
.text-nowrap { white-space: nowrap !important;}
.text-truncate { overflow: hidden;
                 text-overflow: ellipsis; 
                 white-space: nowrap; }

.Sz8 {
    font-size: 8px;
}

.Sz10 {
    font-size: 10px;
}

.Sz12 {
    font-size: 12px;
}

/*═══════════════════════════════════════════════════════════════════════════════════════════════════*/

  /*Personalizacion de Iput ═════════════════════════════════════════════════════════════════════════*/
  .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #d2d6de;
    }
  .form-control:focus {
    border-color: #3c8dbc;
    box-shadow: none;
  }
/*═══════════════════════════════════════════════════════════════════════════════════════════════════*/
/*Implementacion de Paneles */
.FRight {
    float: right !important;
}

  .box {
      position: relative;
      border-radius: 3px;
      background: #ffffff;
      border-top: 3px solid #d2d6de;
      margin-bottom: 20px;
   width: 100%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }
  .box-header {
        color: #444;
        display: block;
        padding: 10px;
        position: relative;
  }
  .box-body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
     padding: 10px;
  }
  .box-header.with-border { border-bottom: 1px solid #f4f4f4; }
  .box.box-default {  border-top-color: #d2d6de; }
  .box-header .box-title {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    line-height: 1;
}
  .box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

/*═══════════════════════════════════════════════════════════════════════════════════════════════════
 * Component: Table
 *═══════════════════════════════════════════════════════════════════════════════════════════════════*/
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #f4f4f4;
}
.table > thead > tr > th {
    border-bottom: 2px solid #f4f4f4;
}
.table tr td .progress {
    margin-top: 5px;
}
.table-bordered {
    border: 1px solid #f4f4f4;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #f4f4f4;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table.no-border,
.table.no-border td,
.table.no-border th {
    border: 0;
}
/* .text-center in tables */
table.text-center,
table.text-center td,
table.text-center th {
    text-align: center;
}

.table.align th {
    text-align: left;
}

.table.align td {
    text-align: right;
}


/*═══════════════════════════════════════════════════════════════════════════════════*/
/*MARGEN  Y PADDING =*/
.mt-0{  margin-top: 0 !important;}
.mr-0{  margin-right: 0 !important;}
.mb-0{  margin-bottom: 0 !important;}
.ml-0{  margin-left: 0 !important;}
.m-1 {  margin: 0.25rem !important;}
.mt-1 {  margin-top: 0.25rem !important;}
.mr-1 {  margin-right: 0.25rem !important;}
.mb-1 {  margin-bottom: 0.25rem !important;}
.ml-1 {  margin-left: 0.25rem !important;}

.m-2 {  margin: 0.5rem !important;}
.mt-2 {  margin-top: 0.5rem !important;}
.mr-2 {  margin-right: 0.5rem !important;}
.mb-2 {  margin-bottom: 0.5rem !important;}
.ml-2 {  margin-left: 0.5rem !important;}

.m-3 {  margin: 1rem !important;}
.mt-3 {  margin-top: 1rem !important;}
.mr-3 {  margin-right: 1rem !important;}
.mb-3 {  margin-bottom: 1rem !important;}
.ml-3 {  margin-left: 1rem !important;}

.m-4 {  margin: 1.5rem !important;}
.mt-4 {  margin-top: 1.5rem !important;}
.mr-4 {  margin-right: 1.5rem !important;}
.mb-4 {  margin-bottom: 1.5rem !important;}
.ml-4 {  margin-left: 1.5rem !important;}

.m-5 {  margin: 3rem !important;}
.mt-5 {  margin-top: 3rem !important;}
.mr-5 {  margin-right: 3rem !important;}
.mb-5 {  margin-bottom: 3rem !important;}
.ml-5 {  margin-left: 3rem !important;}

.p-0 {  padding: 0 !important;}
.pt-0 {  padding-top: 0 !important;}
.pr-0 {  padding-right: 0 !important;}
.pb-0 {  padding-bottom: 0 !important;}
.pl-0 {  padding-left: 0 !important;}

.p-1 {  padding: 0.25rem !important;}
.pt-1 {  padding-top: 0.25rem !important;}
.pr-1 {  padding-right: 0.25rem !important;}
.pb-1 {  padding-bottom: 0.25rem !important;}
.pl-1 {  padding-left: 0.25rem !important;}

.p-2 {  padding: 0.5rem !important;}
.pt-2 {  padding-top: 0.5rem !important;}
.pr-2 {  padding-right: 0.5rem !important;}
.pb-2 {  padding-bottom: 0.5rem !important;}
.pl-2 {  padding-left: 0.5rem !important;}

.p-3 {  padding: 1rem !important;}
.pt-3 {  padding-top: 1rem !important;}
.pr-3 {  padding-right: 1rem !important;}
.pb-3 {  padding-bottom: 1rem !important;}
.pl-3 {  padding-left: 1rem !important;}

.p-4 {  padding: 1.5rem !important;}
.pt-4 {  padding-top: 1.5rem !important;}
.pr-4 {  padding-right: 1.5rem !important;}
.pb-4 {  padding-bottom: 1.5rem !important;}
.pl-4 {  padding-left: 1.5rem !important;}

.p-5 {  padding: 3rem !important;}
.pt-5 {  padding-top: 3rem !important;}
.pr-5 {  padding-right: 3rem !important;}
.pb-5 {  padding-bottom: 3rem !important;}
.pl-5 {  padding-left: 3rem !important;}
/*══════════════════════════════════════════════════════════════════════════════════════*/